<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container container-middle">
        <div class="alert alert-danger alert-dismissible" id="error-no-content" hidden>
            <strong>Fehler!</strong> Es wurden noch keine Artikel ausgewählt
        </div>
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6 half-size">
                        <h2 th:text="${order} ? 'Meine Bestellung' : 'Fehler!'"></h2>
                    </div>
                    <div th:if="${order}" class="col-sm-6 half-size">
                        <a href="/order/data" class="btn btn-success" onclick="return validateOrder();"><span>Bestellung bestätigen</span></a>
                    </div>
                </div>
            </div>
            <div th:if="${order}">
                <table class="table table-striped table-hover" id="table-articles">
                    <thead>
                        <tr>
                            <td>Artikel</td>
                            <td>Preis Inhalt</td>
                            <td>Preis total</td>
                            <td>Aktionen</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:if="${order.getOrderPositions().size() == 0}">
                            <td colspan="4" id="no-content">
                            Keine Artikel in der Bestellung
                            </td>
                        </tr>
                        <tr th:each="orderPosition, iterate : ${order.getOrderPositions()}">
                            <td th:text="${orderPosition.article.name}"></td>
                            <td th:text="${orderPosition.getItemsPrice()}"></td>
                            <td th:text="${orderPosition.getPrice()}"></td>
                            <td>
                                <a th:href="'/order/edit?id=' + ${iterate.index}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Edit">&#xE254;</i></a>
                                <a th:href="'/order/delete?id=' + ${iterate.index}" class="delete"><i class="material-icons" data-toggle="tooltip" title="Delete">&#xE872;</i></a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2"><strong>Totalpreis</strong></td>
                            <td colspan="2" th:text="${order.getPrice()}"></td>
                        </tr>
                    </tbody>
                </table>
                <h3 style="margin-top: 15px; margin-bottom: 15px;">Zur Bestellung hinzufügen</h3>
                <form method="post" action="#">
                    <div class="full-size" style="display: inline-block;">
                        <label th:each="article : ${articles}" class="article-container" style="cursor:pointer;">
                            <input type="radio" name="article-id" th:value="${article.id}" required>
                            <h3 th:text="${article.name}"></h3>
                            <img th:src="'/images/icons/' + ${article.icon}" th:alt="${article.icon}" class="big-icon">
                            <p>Preis: <strong th:text="${article.price} + ' Fr.-'"></strong></p>
                        </label>
                    </div>
                    <input type="submit" name="submit" value="Hinzufügen" class="btn btn-primary">
                </form>
            </div>
            <div th:if="${order == null}">
                <p>Du musst dich anmelden, um eine Bestellung machen zu können!</p>
                <a class="btn btn-primary" href="/login" role="button">Login</a>
            </div>
        </div>
    </div>
</div>
