<div th:fragment="content" xmlns:th="http://www.w3.org/1999/xhtml">
    <div class="container container-middle">
        <div class="table-wrapper">
            <div class="table-title">
                <div class="row">
                    <div class="col-sm-6 full-size">
                        <h2>Bestellung erfolgreich</h2>
                    </div>
                </div>
            </div>
            <h3>Vielen Dank für die Bestellung!</h3>
            <p>Die Bestellung wird so schnell wie möglich bei Ihnen eintreffen.</p>
            <p><a class="btn btn-primary" href="/order/info" role="button">Meine Bestellungen</a></p>
        </div>
    </div>
</div>